@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, #0b57d0, #000);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

.container {
  background: #ffffff;
  width: 380px;
  padding: 25px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 15px 40px rgba(0,0,0,0.3);
}

h1 {
  margin: 0;
  color: #0b57d0;
}


.title {
    font-size:22px;
    font-weight: 800;
    color: #0b57d0;
    text-shadow: 0 4px 10px rgba(11, 87, 208, 0.3);
    margin-bottom: 10px;
  }
  
  

.subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

label {
  font-size: 14px;
  color: #444;
}

.amount-box,
.rate-box {
  margin-bottom: 15px;
}

input, select {
  width: 100%;
  height: 42px;
  margin-top: 6px;
  padding: 0 12px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
}

.currency-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 20px 0;
}

#exchange {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  background: #0b57d0;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

#exchange:hover {
  background: #0845a3;
}

.primary-btn {
  width: 100%;
  height: 45px;
  border: none;
  background: #0b57d0;
  color: white;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 10px;
}

.primary-btn:hover {
  background: #0845a3;
}

#output-text {
  display: none;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
}

span {
  color: #0b57d0;
}

#exchange_button {
    width: 100%;
    height: 50px;
    margin-top: 15px;
    background: linear-gradient(135deg, #0b57d0, #0845a3);
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
    box-shadow: 0 8px 20px rgba(11, 87, 208, 0.35);
  }
  
  #exchange_button:hover {
    transform: translateY(-2px);
    box-shadow: 0 12px 30px rgba(11, 87, 208, 0.5);
  }
  
  #exchange_button:active {
    transform: scale(0.96);
    box-shadow: 0 6px 15px rgba(11, 87, 208, 0.3);
  }
  
